<%= form_with(model: superhero) do |form| %>
  <% if superhero.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(superhero.errors.count, "error") %> prohibited this superhero from being saved:</h2>

      <ul>
        <% superhero.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :power, style: "display: block" %>
    <%= form.text_field :power %>
  </div>

  <div>
    <%= form.label :prefix, style: "display: block" %>
    <%= form.text_field :prefix %>
  </div>

  <div>
    <%= form.label :suffix, style: "display: block" %>
    <%= form.text_field :suffix %>
  </div>

  <div>
    <%= form.label :descriptor, style: "display: block" %>
    <%= form.text_field :descriptor %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
