<div id="<%= dom_id superhero %>">
  <p>
    <strong>Name:</strong>
    <%= superhero.name %>
  </p>

  <p>
    <strong>Power:</strong>
    <%= superhero.power %>
  </p>

  <p>
    <strong>Prefix:</strong>
    <%= superhero.prefix %>
  </p>

  <p>
    <strong>Suffix:</strong>
    <%= superhero.suffix %>
  </p>

  <p>
    <strong>Descriptor:</strong>
    <%= superhero.descriptor %>
  </p>

</div>
