<p style="color: green"><%= notice %></p>

<%= render @superhero %>

<div>
  <%= link_to "Edit this superhero", edit_superhero_path(@superhero) %> |
  <%= link_to "Back to superheros", superheros_path %>

  <%= button_to "Destroy this superhero", @superhero, method: :delete %>
</div>
